{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    <table border="1">
        <tr>
            <th>Property</th>
            <th>Initial value</th>
            <th>Final value</th>
            <th>Violations</th>
            <th>Status</th>
        </tr>
        {% for property, case in cases %}
            {% set hasViolation = false %}
            {% for violation in violations %}
                {% if violation.propertyPath == property %}
                    {% set hasViolation = true %}
                {% endif %}
            {% endfor %}
            <tr>
                <td>{{ property }}</td>
                <td>{{ case.initial }}</td>
                <td>{{ attribute(dto, property) }}</td>
                <td>
                    {% for violation in violations %}
                        {% if violation.propertyPath == property %}
                            {{ violation.message }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ (hasViolation != case.shouldBeValid) ? '✅' : '❌' }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
