{% extends 'base.html.twig' %}

{% block title %}BcMath\Number V2 (custom BcMathNumberType){% endblock %}

{% block body %}
    <h1>BcMath\Number V2 (custom BcMathNumberType)</h1>

    {{ form_start(form) }}
    {{ form_row(form.priceA) }}
    {{ form_row(form.priceB) }}
    {{ form_row(form.priceC) }}
    {{ form_row(form.priceD) }}
    <button type="submit">Submit</button>
    {{ form_end(form) }}

    {% if submitted %}
        <h2>Result: {{ valid ? '✅ Valid' : '❌ Invalid' }}</h2>
    {% endif %}
{% endblock %}
